/* CSS Document */

body {
}

div{
    background: url("../images/test.jpg");
}
.head0,.head,.hdbtnl,.hdbtnr { height:93px; }
.hdbtnl,.hdbtnr2 { line-height:93px; }
.listhd { top:93px; }

.hdlogo2,.hdlogo3 { background-position-y:52px; }
.hdlogo2 .put0,.hdlogo3 .put0 { padding-top:28px; }
    .hdlogo2 .scbtn { height:66px; }

.mcity, .menu { top:94px; }
    .mcity a { line-height:93px; }
.ltab { padding:11px 0; }
    .ltab i { line-height:61px; }
.lmenu { top:178px; }

.dcsearch { top:92px; }
#dcity,.citya2,#dsa { top:183px; }

.hdtrav_add { line-height:93px; }
.otab { margin-top:16px; }

.numtag { top:32px; }
.numtag2 { top:36px; }